.App {
  text-align: center;
}

.checked {
  text-decoration: line-through;
}

.row {
  display: flex;
  align-items: center;
}

.searchbar {
  background-color: rgb(232, 231, 231);
  border: none;
  border-radius: 5px;
}


.addButton {
  background-color: rgb(51, 64, 247);
  color: white;
  border-radius: 5px;
  border: none;
  margin: 10px;
  padding: 10px;
}

.deleteButton {
  background-color: black;
  color: white;
  border: none;
  border-radius: 5px;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
